In [2]:
import pandas as pd
import numpy as np

In [ ]:
pd.read_csv

In [9]:

all_matches = pd.read_csv("../data/Uefa Euro Cup All Matches.csv")

all_matches.tail()

,Date,Time,HomeTeamName,AwayTeamName,HomeTeamGoals,AwayTeamGoals,Stage,SpecialWinConditions,Stadium,City,Attendance,Year
281,2 July 2016 (2016-07-02),21:00,Germany,Italy,1,1,Quarter-finals,Germany win on Penalities 6–5,Nouveau Stade de Bordeaux,Bordeaux,38764,2016
282,3 July 2016 (2016-07-03),21:00,France,Iceland,5,2,Quarter-finals,NaN,Stade de France,Saint-Denis,76833,2016
283,6 July 2016 (2016-07-06),21:00,Portugal,Wales,2,0,Semi-finals,NaN,Parc Olympique Lyonnais,Décines-Charpieu,55679,2016
284,7 July 2016 (2016-07-07),21:00,Germany,France,0,2,Semi-finals,NaN,Stade Vélodrome,Marseille,64078,2016
285,10 July 2016 (2016-07-10),21:00,Portugal,France,1,0,Final,Portugal win after extra time,Stade de France,Saint-Denis,75868,2016

In [10]:
all_matches.HomeTeamGoals + all_matches.AwayTeamGoals

0      9
1      3
2      2
3      3
4      3
      ..
281    2
282    7
283    2
284    2
285    1
Length: 286, dtype: int64

In [11]:
all_matches["total_goals"] = all_matches.HomeTeamGoals + all_matches.AwayTeamGoals

In [14]:
#goals per years/ championships

mean_total_goals = np.mean(all_matches.total_goals)
print("The mean total goals across all championships is:", mean_total_goals)

The mean total goals across all championships is: 2.402097902097902

In [16]:



all_matches.groupby('Year').mean()

      HomeTeamGoals  AwayTeamGoals    Attendance  total_goals
Year
1960       2.000000       2.250000  19739.500000     4.250000
1964       1.750000       1.500000  39063.250000     3.250000
1968       1.200000       0.200000  52187.200000     1.400000
1972       1.250000       1.250000  26644.500000     2.500000
1976       2.500000       2.250000  26521.750000     4.750000
1980       0.857143       1.071429  25046.785714     1.928571
1984       2.000000       0.733333  39977.000000     2.733333
1988       1.066667       1.200000  56656.266667     2.266667
1992       1.266667       0.866667  28682.733333     2.133333
1996       0.935484       1.129032  41166.806452     2.064516
2000       1.483871       1.258065  36278.806452     2.741935
2004       1.354839       1.129032  37122.645161     2.483871
2008       1.258065       1.225806  36902.903226     2.483871
2012       1.419355       1.032258  46480.516129     2.451613
2016       1.117647       1.000000  47594.176471     2.117647

In [ ]:

#calculate the mean and std across all matches ever:






#then by country

In [ ]:
#simulate the results with the Kicktipp modi to get expected values for different tipping strategies